 body {
     background-color: blanchedalmond;
     margin: 0%;
     padding-right: ;
     width: 90%;
 }

 .active1 {
     position: sticky;
     text-align: center;
     top: 0px;
     background-color: green;
     width: 100%;
     padding: 0px;
     margin-bottom: 0;
 }

 li {
     list-style: none;
     display: inline-block;
     padding: 20px;
     margin: 5px;
     border: 1px solid pink;
     background-color: rgb(223, 223, 19);
     border-radius: 10%;
     margin-top: 20px;
 }

 a {
     text-decoration: none;
     color: black;
 }

 header {
     background-color: rgb(7, 7, 18);
     height: 30px;
     color: white;
 }

 .active {
     list-style-type: none;
     margin: 0;
     padding: 10px;
     width: 10%;
     position: fixed;
     right: 0px;
     height: 100%;
     background-color: green;
     top: 0%;
 }

 footer {
     position: relative;
     left: 1px;
     text-align: center;
     width: 98%;
     height: 100px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 40px;
     background-color: rgb(140, 140, 18);
     border-top: 2px;
 }

 h1,
 h3 {
     text-align: center;
 }